@font-face {
  font-family: "AudioWide";
  font-weight: 400;
  src: url("../assets/fonts/audiowide-v16-latin-regular.woff2") format("woff2");
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rye", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: 1em;
  background-color: black;
}

#button-container {
  display: flex;
  align-items: center;
  max-width: 20rem;
}

.button-column {
  display: flex;
  flex-direction: column;
}

.button {
  font-family: "Audiowide", sans-serif;
  color: purple;
  flex: 1;
}
