@font-face {
  font-family: "AudioWide";
  font-weight: 400;
  src: url("../assets/fonts/audiowide-v16-latin-regular.woff2") format("woff2");
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rye", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#calculator-container {
  box-shadow: inset 0em 0em 6em rgb(255, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: 1em;
  background-color: black;
}

#screen-container {
  min-height: 10rem;
  font-size: 3rem;
}

#button-container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.button-column {
  display: flex;
  gap: 1em;
  flex-direction: column;
  width: calc(100% / 4);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Audiowide", sans-serif;
  color: purple;
  width: 5rem;
  height: 5rem;
  font-size: 2.7rem;
}
